@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap');

body {
  @apply bg-cream text-navy dark:bg-navy-dark dark:text-cream font-body;
}